<div id="<%= dom_id product %>">
  <p>
    <strong>Item name:</strong>
    <%= product.item_name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product.quantity %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= product.cost %>
  </p>

  <p>
    <strong>Shelf life in days:</strong>
    <%= product.shelf_life_in_days %>
  </p>

</div>
