<div id="<%= dom_id product %>">
  <table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Costs</th>
    <th>Shelf Life in Days</th>
  </tr>
  </thead>

  <tbody>
  <tr>
  <td><%= product.item_name %></td>
  <td><%= product.quantity %></td>
  <td><%= product.cost %></td>
  <td><%= product.shelf_life_in_days %></td>

    <td><%= link_to 'View', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success btn-sm" %>

  </tr>
  </tbody>
  </table>

</div>